body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#000,#1a0000,#330000);
font-family:'Segoe UI',sans-serif;
color:white;
}

.form-container{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box,
.signup-box,
.box{
width:350px;
background:rgba(0,0,0,0.75);
border:3px solid rgba(255,0,0,0.3);
padding:40px;
border-radius:8px;
text-align:center;
}

.login-title,
.signup-title{
margin-bottom:30px;
}

h2{
text-align:center;
color:#e50914;
}


input{
width:100%;
padding:10px;
margin:10px 0;
border-radius:7px;
border:none;
}


.login-btn,
.signup-btn,
button{
background:#e50914;
color:white;
font-weight:bold;
border:none;
padding:10px;
border-radius:7px;
cursor:pointer;
transition:0.3s;
}

.login-btn{
width:150px;
}

.signup-btn{
width:150px;
}

button{
width:100%;
}

.login-btn:hover,
.signup-btn:hover,
button:hover{
background:#b20710;
}


.login-btn-container,
.signup-btn-container{
display:flex;
justify-content:center;
margin-top:10px;
}

.switch{
margin-top:25px;
font-size:18px;
}


.signup-btn,
.login-link{
background:#1e6bff;
color:white;
padding:6px 12px;
border-radius:5px;
text-decoration:none;
margin-left:8px;
font-size:15px;
transition:0.3s;
}

.signup-btn:hover,
.login-link:hover{
background:#1553cc;
}


.center-page{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#000,#1a0000,#330000);
font-family:'Segoe UI',sans-serif;
color:white;
}

.box{
background:#1a0000;
padding:40px;
border-radius:10px;
width:350px;
border:1px solid #e50914;
text-align:center;
}

.box h2{
color:#e50914;
}

.box select,
.box button{
width:100%;
padding:10px;
margin-top:15px;
border-radius:5px;
border:none;
}

.box button{
background:#e50914;
color:white;
cursor:pointer;
}

.box button:hover{
background:#b20710;
}